@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:wght@100&display=swap");
h2 {
  font-family: "montserrat", sans-serif;
  color: white;
  font-size: 11px;
  z-index: 3;
  font-weight: 100;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
  transition: background-color 0.1s ease;
  height: 1vh;
}

.panel {
  min-height: 100vh;
}

.color-pink {
  background-color: white;
}

.color-purple {
  background-color: black;
}

a:visited {
  text-decoration: none;
  outline: none;
}

/*#6DA092, #3E646B, #B9B4B0  2E0014*/
.main-container .project-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .main-container .project-reverse {
    display: grid;
    -moz-column-gap: 3em;
         column-gap: 3em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .main-container .project-reverse {
    margin-bottom: 4em;
  }
}
.main-container .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  overflow-x: hidden;
  -moz-column-gap: 3em;
       column-gap: 3em;
}
@media (min-width: 768px) {
  .main-container .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .main-container .project {
    margin-bottom: 4em;
  }
}
.main-container .project-text {
  font-family: "montserrat", sans-serif;
  color: white;
  line-height: 2;
  letter-spacing: 3px;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .main-container .project-text {
    text-align: right;
  }
}
@media (min-width: 1025px) {
  .main-container .project-text {
    text-align: right;
    margin-bottom: 15vh;
  }
}
.main-container .project-text .link-indicator {
  margin-top: 1em;
  text-decoration: underline;
}
.main-container .text-left {
  text-align: center;
}
@media (min-width: 768px) {
  .main-container .text-left {
    text-align: left;
  }
}
.main-container .text-dark {
  color: black;
}
.main-container .item {
  width: 350px;
  height: 350px;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  margin-bottom: 15vh;
  margin-top: 2em;
  justify-self: center;
  align-self: center;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: none;
}
@media (min-width: 768px) {
  .main-container .item {
    margin-top: 10em;
  }
}
@media (min-width: 1025px) {
  .main-container .item {
    margin-top: 0;
  }
}
.main-container .item img {
  width: 100%;
  /*container height - (border thickness * 2) */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(/Images/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing #landing-logo {
  width: 75vw;
  border: none;
  margin-bottom: 0px;
}
@media (min-width: 1025px) {
  .landing #landing-logo {
    width: 750px;
    margin-bottom: 20px;
  }
}
.landing .sub-text {
  letter-spacing: 3px;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
  padding: 33px 30px 20px 30px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .landing .sub-text {
    font-size: 13px;
    padding: 33px 80px 20px 80px;
  }
}
.landing .subtitle {
  font-size: 11px;
}
@media (min-width: 768px) {
  .landing .subtitle {
    font-size: 13px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer p,
.footer a {
  font-family: poppins, sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 14px;
  text-decoration: none;
  font-size: 5vmin;
  line-height: 2;
}
.footer p:hover,
.footer a:hover {
  text-decoration: line-through;
  transition: ease 0.5s;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 1.2s ease-out 0.3s;
}
.loader__gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}
@media (min-width: 768px) {
  .loader__gif {
    width: 35%;
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */