.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock-container {
    background-image: url(../images/sasha.jpg);
    background-size: contain;
}

.clock {
    width: 55vmin;
    height: 55vmin;
    border-radius: 50%;
    background-color: transparent;
    border: solid 5px rgb(244, 228, 218);
    position: relative;
    padding: 2rem;

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {

    height: 2px;
    width: 50%;
    background-color: black;
    position: absolute;
    bottom: 50%;
    transform: rotate(90deg);
    transform-origin: 100%; //in order to rotate it not in the middle but on the right hand side default is 50%
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}


.hour-hand {
    height: 3px;
}