.container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drums-container {
    background-image: url(../images/The_Drummer_Boy_William_Morris_Hunt.jpeg);
    background-repeat: no-repeat;
    background-size: cover;;
    background-position: center;
    padding: 1em;
}

.keys {
    display: flex;
    flex-direction: row;

}

.key {
    height: 13vmin;
    width: 10vmin;
    border-radius: 5px;
    background-color: black;
    opacity: 0.7;
    display: inline-block;
    margin: 2vmin;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.7s;
    overflow: hidden;

 


    h1 {
        color: #E6D2AF;
        font-size: 2vmax;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    p {
        font-size: 0.7vmax;
        color: #8A5F27;
        font-weight: bold;
        text-align: center;
         letter-spacing: 1px;
        margin: 3px 0;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        

        @include md {
            letter-spacing: 5px;
        }
    }
}


.playing {
    transform: scale(1.1);
    border: 1px solid #8A5F27;
    box-shadow: 0 0 10px #8A5F27;

}