.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p,
    a {
        font-family: poppins, sans-serif;
        color: white;
        font-size: 15px;
        letter-spacing: 14px;
        text-decoration: none;
        font-size: 5vmin;
        line-height: 2;

    }

    p:hover,
    a:hover {
        text-decoration: line-through;
        transition: ease 0.5s;

    }

}