

    #gallery-loader{
      height: 100vh;
      width: 100vw;
      background-color: white;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      transition: all .9s ease-out 0.3s;
      text-align: center;
      padding-top: 50vh;
    }
    
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #854c41;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #854c41 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    
    
    .gallery-panels {
      min-height: 90vh;
      overflow: hidden;
      display: flex;
    }

    .gallery-panel {
      color: #854c41;
      background-size: cover;
      background-position: center;
      text-align: center;
      align-items: center;
      display: flex;
      transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
      flex: 1;
      /*all the items will be distributed evenly on the screen */
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
    }

    .gallery-panel-1 {
      background-image: url(../images/morisot-2.jpg);
    }

    .gallery-panel-2 {
      background-image: url(../images/morisot-1.jpg);
    }

    .gallery-panel-3 {
      background-image: url(../images/morisot-4.jpeg);

      @include xs{
        display: none;
      }
    }

    .gallery-panel-4 {
      background-image: url(../images/morisot-5.jpeg);

      @include xs{
        display: none;
      }
    }

    /* flex-children */

    .gallery-panel>* {
      margin: 0;
      width: 100%;
      transition: ease-in-out 0.5s;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* when the panel is active we give it a class open, the text and image go bigger */
    .open {
      flex: 5;
      transition: ease-in-out 0.8s;
     
    }
 

    .white-background {
      background: rgba(255, 255, 255, 0.5);
      letter-spacing: 5px;
      font-size: 13px;
      font-family: 'Times New Roman', Times, serif;
      transition: ease-in-out 0.5s;
      // transition-delay: 0.5s;

      @include md {
        font-size: 1rem;
      }
    }

    /* to hide and show the top and bottom text o the panels */

    .gallery-panel>*:first-child {
  
      transform: translateY(-100%);
    }


    .gallery-panel>*:last-child {

      transform: translateY(100%);
    }

    .gallery-panel.open-active>:first-child
    {
 
      transform: translateY(0);
    }

    .gallery-panel.open-active>:last-child {
 
      transform: translateY(0);
    }

    
    