@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$main-font: 'montserrat',sans-serif;

$accent-font: 'Coda',
cursive;

h2 {
    font-family: $main-font;
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
    z-index: 3;
    font-weight: 100;
}


a {
    text-decoration: none;
}